name: Docker Build & Push

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 1. Backend
      - name: Build and push Backend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/Dockerfile.backend
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/vex-backend:latest

      # 2. Bot
      - name: Build and push Bot
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/Dockerfile.bot
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/vex-bot:latest

      # 3. Frontend
      - name: Build and push Frontend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/Dockerfile.frontend
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/vex-frontend:latest
